/* colors used: Primary color (dark purple): #1D023D Secondary color (light purple): #9075A9 */
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: #1D023D;
}
h1, h2, h3, h4 {
  line-height: 1.4;
  letter-spacing: 2px; 
}
h1 {
  font-size: 2em;
  font-weight: 800; 
}
h2 {
  font-size: 1.75em;
  font-weight: 800;
  text-align: center; 
}
h3 {
  font-size: 1.25em;
  font-weight: 500;
  
}
h4 {
  font-size: 1em;
  font-weight: 400;
}
p, ul {
  font-size: 1em;
  font-weight: 300;
}

span {
  font-size: 2em;
  font-weight: 600;
}
img {
  max-width: 100%;
  padding-top: 20px;

}
a {
  color: #9075A9;
  text-decoration: none;
}

a:hover {
  color: #53376E;
  text-decoration: underline;
 /* Underlining when hovering over a link */
}
a:visited {
 /* visited link */
  color: #1D023D;
}
a:active {
 /* selected link */
  color: #53376E;
}
a:hover, a:focus {
  color: #9075A9;
  text-decoration: underline;
}
.button {
  display: inline-block;
  background-color: #dac9eb;
  color: #1D023D;
  font-weight: 300;
  padding: 10px;
  border-radius: 15px;
  border-bottom: 2px solid #53376E;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #1d023d;
  text-transform: uppercase;
  border: 2px solid #9075A9;
}
.button.contact:hover {
  background-color: #9075A9;
  color: #ffffff;
}
/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0;
 /* 25px top and bottom, 0 left and right */
}
#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #1D023D;
}
.logo {
  max-width: 100px;
}
header {
  background-color: #dac9eb;
  padding: 10px 0 4px;
  text-align: center;
  width: 100%;
  position: relative;
  box-shadow: 5px 5px 5px #a58dbb;
}


#aboutme {
  text-align: center;
}

.aboutme h2 {
  padding-left: 50px;
}


nav > ul > li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

nav > ul > li > a {
  display: inline-block;
  padding: 0 15px;
  color: #1D023D;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
nav > ul > li > a:visited {
  color: #53376E;
}
nav > ul > li > a:hover {
  color: #795B96;
}
nav > ul > li > a:active {
  color: #795B96;
}


.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

/* our hamburger menu */
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #1D023D;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
} 

#hero h1 {
  margin: 0;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#hero {
  
  padding: 20px 0;
  text-align: center;
}
#hero span {
  text-align: center;
  display: block;
}

.resumebutton {
  display: inline-block;
  background-color: #dac9eb;
  color: #1D023D;
  font-weight: 300;
  padding: 10px;
  border-radius: 15px;
  border-bottom: 2px solid #53376E;
  transition: 0.2s opacity;
}
.resuemebutton:hover {
  opacity: 0.8;
  text-decoration: none;
}
.resumebutton.contact {
  background-color: transparent;
  color: #1D023D;
  text-transform: uppercase;
  border: 2px solid #9075A9;
}
.resumebutton.contact:hover {
  background-color: #9075A9;
  color: #ffffff;
}


  #social {
  padding-top: 25px;
  text-align: center;
}
#contact {
  align-content: center;
}

#hero span {
  text-align: center;
  display: block;
}
.mypicture {
  display: block;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  max-height: 50%;
  border-radius: 25px;
}
.resumebutton {
  justify-content: center;
  background-color: #dac9eb;
  color: #dac9eb;
  text-transform: uppercase;
  padding: 10px, 20px;
  border-radius: 20px;
  border: 2px solid #dac9eb;
  margin-top: 10px;
  
}
.resumebutton {
  padding: 10px;
  border-radius: 20px;
  color: #1d023d;
  margin-top: 10px;
}
#contact {
  background-image: linear-gradient(white,#dac9eb);
  text-align: center;
}





/* Project Pages */
#project h1, h2, h3, h4, ul {
  padding-left: 5px;
}
#project h1, h2 {
  padding-top: 50px;
}
#project picture {
  align-content: center;
  max-width: 100%;
}

/* ============================== Medium devices (640px and larger) ================================= */
@media only screen and (min-width: 640px) {
  header {
      text-align: unset;
      padding: 20px 0 13px;
 }

 nav {
  width: auto;
  float: right;
  margin-top: 4px;
}

 nav > ul > li {
  display: inline-block;
  position: relative;
}
  .col-md-6 {
      width: 50%;
 }
  [class*="col-"] {
      float: left;
      
 }
  .row::after {
      content: "";
      clear: both;
      display: table;
 }
 .navtoggle li:not(:last-child) {
  display: inline-block;
}

 .navtoggle li:last-child {
  display: none;
 }

#skills {
  padding-top: 10px;
  padding-left: 300px;
  text-align: center;
 
  
}

#tools {
  padding-top: 10px;
  padding-right: 300px;
  text-align: center;
}
}
/* ============================== Large devices (1024px or larger) ================================= */
@media only screen and (min-width: 1024px) {
  .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
 }
  header {
      text-align: unset;
      padding: 20px 0 13px;
 }
  nav {
      width: auto;
      float: right;
      margin-top: 4px;
 }
  .col-lg-5 {
      width: 30%;
 }
  .col-lg-7 {
      width: 70%;
}
.col-lg-12 {
  width: 100%;
}


}

/*animation*/
#animation {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@keyframes color-change {
  from {
     fill: #edc655;
 }
  to {
     fill: #f76414;
 }
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {
     transform: translate(0,50px);
 }
  to {
     transform: translate(200px,50px);
 }
}
.cloud-front {
  animation: 25s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {
     transform: translate(446px,48px);
 }
  to {
     transform: translate(100px, 48px);
 }
}
.cloud-back {
  animation: 25s cloud-move-reverse infinite alternate linear;
}



.descwrapper {
  padding-right: 100px ;
  padding-left: 20px;
}


#skills.tools {
  text-align: center;
}

#skills ul {
  margin-right: 5px;
  list-style-type: none;
}
#tools ul {
  margin-left: 5px;
  list-style-type: none;
}


